DB_USER=pguser
DB_PASSWORD=1234

DB_AUTH_DATABASE=libdb-auth
DB_BOOKS_DATABASE=libdb-books

DATASOURCE_AUTH_URL=jdbc:postgresql://pg-auth:5432/libdb-auth
DATASOURCE_BOOKS_URL=jdbc:postgresql://pg-books:5432/libdb-books

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

ISSUER_URI=http://localhost/auth/
JWK_SET_URI=http://auth:8080/auth/oauth2/jwks

CLIENT_ID=auth-client
CLIENT_SECRET=secret
REDIRECT_URI=http://localhost/home

FRONTEND_URL_PROXY=http://localhost
FRONTEND_URL_HOST=http://localhost:4200
FRONTEND_URL_CONTAINER=http://frontend:4200

GCP_CREDENTIALS_PATH=gcp/storage/credentials.json
GCP_BUCKET_NAME=

BOOKS_API_SEEDING_URL=https://gutendex.com/books/

GCP_EMBEDDING_PROJECT_ID=
GCP_EMBEDDING_LOCATION=
GCP_EMBEDDING_CREDENTIALS_PATH=gcp/embedding/credentials.json
GCP_EMBEDDING_MODEL=text-embedding-004

