DB_USER=pguser
DB_PASSWORD=1234

DB_AUTH_DATABASE=libdb-auth
DB_BOOKS_DATABASE=libdb-books
DB_ASSISTANT_DATABASE=libdb-assistant

DATASOURCE_AUTH_URL=jdbc:postgresql://pg-auth:5432/libdb-auth
DATASOURCE_BOOKS_URL=jdbc:postgresql://pg-books:5432/libdb-books
DATASOURCE_ASSISTANT_URL=jdbc:postgresql://pg-assistant:5432/libdb-assistant

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

BOOKS_API_SEEDING_URL=https://gutendex.com/books

ISSUER_URI=http://localhost/auth/
JWK_SET_URI=http://auth:8080/auth/oauth2/jwks

CLIENT_ID=auth-client
CLIENT_SECRET=secret
REDIRECT_URI=http://localhost/home

FRONTEND_URL_PROXY=http://localhost
FRONTEND_URL_HOST=http://localhost:4200
FRONTEND_URL_CONTAINER=http://frontend:4200

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_SCOPE=openid,profile,email
GOOGLE_OAUTH2_REDIRECT_URI=http://localhost/auth/login/oauth2/code/google

GCP_PROJECT_ID=
GCP_LOCATION=us-central1
GCP_EMBEDDING_MODEL=text-embedding-004
GCP_GEMINI_MODEL=gemini-2.0-flash
GCP_STORAGE_BUCKET_NAME_BOOKS=book-covers-bucket
GCP_STORAGE_BUCKET_NAME_ASSISTANT=books-assistant-bucket

GOOGLE_APPLICATION_CREDENTIALS=/secrets/credentials.json

