<nav class="navbar">
  <div class="navbar-left">
    <div class="name">
      <a routerLink="/home" class="service-name">Library</a>
    </div>

    <div class="nav-links">
      <a id="navigate-home" routerLink="/home">Home</a>
      <a id="navigate-catalog" routerLink="/catalog">Catalog</a>
      <a id="navigate-my-library" routerLink="/my-library">My Library</a>
    </div>
  </div>
  <div class="navbar-right">
    <app-search-books></app-search-books>
    @if (isAuthenticated()) {
      <div class="ai-assistant-icon" (click)="openAiAssistant()">
        <mat-icon>smart_toy</mat-icon>
      </div>
      <span class="name">{{ user?.name }}</span>
      <app-user-menu
        [user]="user"
      ></app-user-menu>
    } @else {
      <button (click)="onLogin()" id="navigate-login-btn" class="btn login-btn">Login</button>
      <button routerLink="/register" class="btn register-btn">Register</button>
    }
  </div>
</nav>




