<div class="register-container">
  @if(isLoading){
    <app-loader></app-loader>
  } @else {
    <form [formGroup]="registerForm">
      <h3>Sign in</h3>
      @if (message) {
        <div class="success-message">
          {{message}}
        </div>
      }
      <div class="field">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />
        @if (registerForm.get("username")?.errors?.['required'] && registerForm.get('username')?.touched) {
          <small class="error">Username is required.</small>
        }
        @if (registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched) {
          <small class="error">Username cannot be less than 3 characters.</small>
        }
        @if (registerForm.get('username')?.errors?.['usernameOrEmailTaken'] && registerForm.get('username')?.touched) {
          <small class="error">Username is already taken.</small>
        }
      </div>
      <div class="field">
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" />
        @if (registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched) {
          <small class="error">Email is required.</small>
        }
        @if (registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched) {
          <small class="error">Please enter a valid email.</small>
        }
        @if (registerForm.get('email')?.errors?.['usernameOrEmailTaken'] && registerForm.get('email')?.touched) {
          <small class="error">Email is already taken.</small>
        }
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password"/>
        @if (registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched) {
          <small class="error">Password is required.</small>
        }
        @if (registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched) {
          <small class="error">Password must be at least 8 characters.</small>
        }
        @if (registerForm.get('password')?.errors?.['weakPassword'] && registerForm.get('password')?.touched) {
          <small class="error">Password must include uppercase, lowercase, numbers, and special characters.</small>
        }
      </div>
      <div class="field">
        <label for="repeatPassword">Repeat password:</label>
        <input type="password" id="repeatPassword" formControlName="repeatPassword" />
        @if (registerForm.get('repeatPassword')?.errors?.['required'] && registerForm.get('repeatPassword')?.touched) {
          <small class="error">Repeat Password is required.</small>
        }
        @if (registerForm.hasError('passwordMismatch') && registerForm.touched) {
          <small class="error">Passwords do not match.</small>
        }
      </div>
      <button type="submit" (click)="onRegister()" [disabled]="registerForm.invalid">Sign up</button>
      <div class="login">Already have an account? <a (click)="onLogin()">Sign in</a></div>
    </form>
  }
</div>
