.welcome-chat-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  align-content: center;
  justify-items: center;
  min-height: calc(100vh - 64px);
  background: #fafafa;
  padding: 1rem;
  color: #111;
}

.welcome-chat-container h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
